p {
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.ti-tooltip-target {
    border: 1px solid red;
}

.ti-tooltip-target {
    max-width: 200px;
    height: auto;
}